@import "rilable";

*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}
.btn{
  padding: 8px 16px;
  background: #25cb11;
  border:0px solid ;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}